<!-- <h1>Welcome to Rock, Paper, Scissors!</h1>
<h1>Hi there!</h1>

<ul>
  <li><p>You played paper!</p></li>
  <li><p>The computer played:</p><%= @computer_move %></li>
  <li> <%= @final_result %></li>
</ul> -->
