<!-- <h1>Welcome to Rock, Paper, Scissors!</h1>
<h1>Hi there!</h1>

<ul>
  <li><h3>You played scissors!</h3></li>
  <li><h3>The computer played:</h3><%= @computer_move %></li>
  <li> <%= @final_result %></li>
</ul> -->
